{% extends 'FairBundle::layout.html.twig' %}

{% block content -%}
    <ul>
    {% for booth in booths %}
        <li>{{ booth }}
            <ul>
                {% for time in booth.times %}
                    <li>{{ time }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
