<div id="modal-status" class="modal hide fade" data-href="{{ path('user_status') }}.html" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{ app.user.name }} Family Fair Responsibilities</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <a class="btn btn-primary" href="{{ path('user_status_pdf') }}">Print Status</a>
    </div>
</div>
