{% extends 'FairBundle::layout.html.twig' %}

{% block content -%}
    <h1>Welcome to the Admin Panel: Configuration</h1>

    {% for key, setting in data.settings %}
        <h3>{{ key }}</h3>
        <ul>
        {% for date in setting %}
            <li>{{ date }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
