{% extends 'FairBundle::layout.html.twig' %}

{% block content -%}
    <h1>Welcome to the Admin Panel</h1>

<div class="well">
    <p class="lead">The following links will allow you to see (and edit, be careful!) the parts of the fair.</p>
</div>

{% endblock %}
