{% extends 'FairBundle::layout.html.twig' %}

{% block content -%}
    <h1>Welcome to the Admin Panel</h1>

<div class="well">
    <p>Kim and Dayna,<br>
       To upload booths, click on the Upload Data link to the right.  In the Upload Data section I have created 2 excel templates for you to download.  Fill them out and upload them back to that page.  Once uploaded click the run button to load them into the database.  Navigate to the booths and users link on the left to see if the upload was a success.<br><br>
        Pax,<br>
        Craig
    </p>
</div>

{% endblock %}
