<!DOCTYPE html>
<html ng-view="fairApp">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Fair Registration{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/fair/css/bootstrap.min.css') }}"/>
            <style type="text/css">
                body {
                    padding-top: 60px;
                }
            </style>
            <link rel="stylesheet" href="{{ asset('bundles/fair/css/bootstrap-responsive.min.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
