/* Sticky footer styles
      -------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -51px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 50px;
}
#footer {
    background-color: #f5f5f5;
    text-align: center;
    border-top: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    padding-top: 20px;
    position: relative;
}

#footer p {
    bottom: 0;
    position: absolute;
    right: 50%;
    margin-right: -36px;
    display: block;
    text-align: center;
    width: 70px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#wrap > .container-fluid {
    padding-top: 60px;
}

/** End Footer **/

ul {
    list-style: none;
}

.navbar .brand {
    float: left;
    display: block;
    padding: 10px 20px 10px;
    margin-left: 0;
    padding-left:45px;
    font-size: 20px;
    font-weight: 200;
    color: #777;
    text-shadow: 0 1px 0 #ffffff;
    background: url(../images/logo_sm.png) left center;
    background-repeat: no-repeat;
}

ul.record_actions {
    margin: 0;
}

ul.times > li a {
    text-decoration: none;
    padding-left: 10px;
}

.login-box {
    position: relative;
    padding: 39px 19px 14px;
    background-color: #FFF;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.login-box:before {
    content: "Login";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.help {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 5px 7px;
    font-size: 14px;
    font-weight: bold;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 0px 4px 0px 4px;
    -moz-border-radius: 0px 4px 0px 4px;
    border-radius: 0px 4px 0px 4px;
    cursor: pointer;
}

.signup {
    margin-top: 20px;
}

.sidebar.affix {
    width: inherit;
}

.accordion-group {
    padding: 10px;
    background: rgba(0, 0, 0, 0.58);
}

.accordion-heading > a {
    display: block;
    color: #C7C7C7;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.accordion-group:hover a.accordion-toggle {
    color: #F7C8C8;
}

.accordion-group:hover a.close {
    color: inherit;
}

.accordion-body {
    background: #fff;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.auctionItems {
    padding-top: 10px;
}

.auctionItem {
    margin-bottom: 5px;
    width: 150px;
    display: inline-block;
    margin-right: 2px;
}
.accordion-heading {
    position: relative;
}

.accordion-heading .close {
    top: 4px;
    position: absolute;
    right: 0;
    color: #FFF;
    font-weight: normal;
    opacity: 1;
    text-shadow: 1px 1px 1px #333;
    z-index: 1000;
    font-size: 12px;
    font-family: serif;
}

.accordion-heading .close:hover {
    color: #000;
}

.popover-content .alert {
    padding: 0;
}
.popover-title {
    font-weight: bold;
}

span.time {
    width: 35%;
    display: inline-table;
    text-align: right;
    padding-right: 6px;
    font-size: 12px;
}

span.msg {
    width: 60%;
    display: inline-table;
    text-align: right;
    font-size: 12px;
}

.times .btn-block+.btn-block {
    margin-top: 0px;
}

.times .heading {
    margin-bottom:10px;
}

.status.btn-danger, .status.btn-success {
    padding: 4px;
    font-size: 16px;
}

#isPassed {
    margin-top: 8px;
}

.content-item {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.content-title {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 5px 7px;
    font-size: 14px;
    font-weight: bold;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.content-title.instructions {
    position: relative;
    width: 160px;
    display: inline-block;
}

.boothData {
    margin-top: 10px;
}

.boothSelection .well {
    padding: 0;
}

#loadingBooth {
    width: 105px;
    position: fixed;
    top: 50%;
    padding: 5px;
    left: 50%;
    margin-left: -48px;
    height: 18px;
    margin-top: -9px;
}

.spouse .badge.badge-important {
    margin-right: 5px;
}

.popover {
    z-index:2000;
    max-width: 400px;
}

.modal-header {
    background: rgba(204, 192, 178, 0.38);
}

.fileBlock {
    width: 500px;
    font-weight: bold;
    position: relative;
    height: 30px;
}

.fileName {
    margin-right: 20px;
    top: 20%;
    position: absolute;
    left: 10px;
}

.fileEdit {
    position: absolute;
    right: 10px;
}

.filedate {
    font-weight: normal;
    font-size: 10px;
}

input.input-small-height {
    font-size: 10px;
    height: 12px;
}

.printStatus {
    display: block;
}

.nav .nav-text {
    margin-left: 5px;
    margin-top: 5px;
}

.boothList {
    font-size: 13px;
    color: #2884AF;
}