/* Sticky footer styles
      -------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -51px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 50px;
}
#footer {
    background-color: #f5f5f5;
    text-align: center;
    border-top: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    padding-top: 20px;
    position: relative;
}

#footer p {
    bottom: 0;
    position: absolute;
    right: 50%;
    margin-right: -36px;
    display: block;
    text-align: center;
    width: 70px;
}

#wrap > .container-fluid {
    padding-top: 60px;
}

/** End Footer **/

ul {
    list-style: none;
}

.navbar .brand {
    float: left;
    display: block;
    padding: 10px 20px 10px;
    margin-left: 0;
    padding-left:45px;
    font-size: 20px;
    font-weight: 200;
    color: #777;
    text-shadow: 0 1px 0 #ffffff;
    background: url(../images/logo_sm.png) left center;
    background-repeat: no-repeat;
}

ul.record_actions {
    margin: 0;
}

ul.times > li a {
    text-decoration: none;
    padding-left: 10px;
}

.login-box {
    position: relative;
    padding: 39px 19px 14px;
    background-color: #FFF;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.login-box:before {
    content: "Login";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.help {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 5px 7px;
    font-size: 14px;
    font-weight: bold;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 0px 4px 0px 4px;
    -moz-border-radius: 0px 4px 0px 4px;
    border-radius: 0px 4px 0px 4px;
    cursor: pointer;
}

.signup {
    margin-top: 20px;
}

.sidebar.affix {
    top: 40px;
    width: 22%;
}

.sidebar.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}

.accordion-group {
    padding: 10px;
    background: rgba(0, 0, 0, 0.58);
}

.accordion-heading > a {
    display: block;
    color: #C7C7C7;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.accordion-group:hover a.accordion-toggle {
    color: #F7C8C8;
}

.accordion-group:hover a.close {
    color: inherit;
}

.accordion-body {
    background: #fff;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.auctionItems {
    padding-top: 10px;
}

.auctionItem {
    margin-bottom: 5px;
    width: 150px;
    display: inline-block;
    margin-right: 2px;
}
.accordion-heading {
    position: relative;
}

.accordion-heading .close {
    top: 4px;
    position: absolute;
    right: 0;
    color: #FFF;
    font-weight: normal;
    opacity: 1;
    text-shadow: 1px 1px 1px #333;
    z-index: 1000;
    font-size: 12px;
    font-family: serif;
}

.accordion-heading .close:hover {
    color: #000;
}

.popover-content .alert {
    padding: 0;
}
.popover-title {
    font-weight: bold;
}

.bakedItems .btn {
    margin-bottom: 3px;
    width: 250px;
    height: 40px;
}

span.time {
    /*width: 35%;*/
    /*display: inline-table;*/
    /*text-align: right;*/
    /*padding-right: 6px;*/
    /*font-size: .9em;*/
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.3em;
}

span.msg {
    /*width: 60%;*/
    /*display: inline-table;*/
    /*text-align: right;*/
    /*font-size: .9em;*/
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1em;
}

.time-button {
    margin-bottom:4px;
}

.times .btn-block+.btn-block {
    margin-top: 0px;
}

.times .heading {
    margin-bottom:10px;
}

.status.btn-danger, .status.btn-success {
    padding: 4px;
    font-size: 16px;
}

#isPassed {
    margin-top: 8px;
}

.content-item {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.content-title {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 5px 7px;
    font-size: 14px;
    font-weight: bold;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.content-title.instructions {
    position: relative;
    width: 160px;
    display: inline-block;
}

.boothData {
    margin-top: 10px;
}

.boothSelection .well {
    padding: 0;
    overflow-y: scroll;
    height: 400px;
}

.oneBooth .heading {
    padding-top: 10px;
}

#loadingBooth {
    width: 105px;
    position: fixed;
    top: 50%;
    padding: 5px;
    left: 50%;
    margin-left: -48px;
    height: 18px;
    margin-top: -9px;
}

.alert-passed {
    position: fixed;
    top: 1px;
    left: 35%;
    z-index: 10000;
}

.spouse .badge.badge-important {
    margin-right: 5px;
}

.popover {
    z-index:2000;
    max-width: 400px;
}

.modal-header {
    background: rgba(204, 192, 178, 0.38);
}

.fileBlock {
    width: 500px;
    font-weight: bold;
    position: relative;
    height: 30px;
}

.fileName {
    margin-right: 20px;
    top: 20%;
    position: absolute;
    left: 10px;
}

.fileEdit {
    position: absolute;
    right: 10px;
}

.filedate {
    font-weight: normal;
    font-size: 10px;
}

input.input-small-height {
    font-size: 10px;
    height: 12px;
}

.printStatus {
    display: block;
}

.nav .nav-text {
    margin-left: 5px;
    margin-top: 5px;
}

.nav-list {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 0;
}

.boothSelection .nav-header {
    padding: 3px 5px;
}

.nav-list > li > a {
    padding: 3px 5px;
}
.nav-list > li > a, .nav-list .nav-header {
    margin-right: -5px;
    margin-left: -5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}



.boothList {
    font-size: 13px;
    color: #2884AF;
}

.rules li {
    font-size: 12px;
}

/** Table Sort **/

div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('../images/sorter/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sorter/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sorter/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../images/sorter/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../images/sorter/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
    outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
    border-top: none;
}

div.dataTables_scrollFoot table {
    border-top: none;
}


/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
    background-color: #08C;
    color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
    background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
    background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
    cursor: pointer;
    *cursor: hand;
}

div.DTTT .btn {
    color: #333 !important;
    font-size: 12px;
}

div.DTTT .btn:hover {
    text-decoration: none !important;
}


ul.DTTT_dropdown.dropdown-menu a {
    color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
    background-color: #0088cc;
    color: white !important;
}



/* TableTools information display */
div.DTTT_print_info.modal {
    height: 150px;
    margin-top: -75px;
    text-align: center;
}

div.DTTT_print_info h6 {
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    margin: 1em;
}

div.DTTT_print_info p {
    font-size: 14px;
    line-height: 20px;
}



/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
    background-color: white;
}

div.DTFC_LeftHeadWrapper table {
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin-bottom: 0 !important;
}

div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
    border-top: none;
}

div.DTFC_LeftFootWrapper table {
    border-top: none;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (min-width: 980px) and (max-width: 1010px) {
    .sidebar.affix {
        position: static;
        width: 100%;
        top: 0;
    }
}
@media (min-width: 768px) and (max-width: 980px) {
    #wrap > .container-fluid {
        padding-top: 0;
    }


    .sidebar.affix {
        position: static;
        width: 100%;
        top: 0;
    }
}

@media (max-width: 767px) {
    #wrap > .container-fluid {
        padding-top: 0;
    }

    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .sidebar.affix {
        position: static;
        width: 100%;
        top: 0;
    }

}
