{% extends 'FairBundle::layout.html.twig' %}

{% block content -%}
    <h1>Booth list</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
                <th>Worker Limit</th>
                <th>Times</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {{ render(controller('FairBundle:Booth:show', {
                'id': entity.id
                })) }}
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('booth_new') }}">
                Create a new booth
            </a>
        </li>
    </ul>
    {% endblock %}
