{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ app.user.familyName }} Family Fair Responsibilities</h1>
    {{ include(
    'UserBundle:User:status.html.twig',
    { 'data': data }
    ) }}
{% endblock %}