{% extends 'FairBundle::layout.html.twig' %}

{% block content -%}
    <h1>Documents</h1>

    <p>To load booths, please download the following spreadsheet, edit it and upload it here.  Once uploaded run the file.</p>
    <p><a href="{{ asset('/bundles/fair/spreadsheets/Fair Booths.xlsx') }}" >Fair Booth Upload</a></p>

    {% for entity in entities %}
        {{ render(controller('FairBundle:Document:show', {
        'id': entity.id
        })) }}
    {% endfor %}

        <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('admin_docs_new') }}"><i class="icon-file icon-white"></i> Upload a new file</a>
        </li>
    </ul>
    {% endblock %}
