{% extends 'FairBundle::layout.html.twig' %}

{% block content -%}
    <h1>Documents</h1>

    <p>To load booths or users, please download the following spreadsheet, edit it and upload it here.  Once uploaded run the file.  The file will appear green if it has not yet been loaded.</p>
    <p><em>NOTE: </em>Uploading the users template will overwrite (delete) all the family information, so be sure that the template you are uploading has all the families.</p>
    <p><a class="btn btn-success" href="{{ asset('/bundles/fair/spreadsheets/Fair Booths.xls') }}" ><i class="icon-download-alt icon-white"></i> Booths Upload Template</a> <a class="btn btn-success" href="{{ asset('/bundles/fair/spreadsheets/Fair Users.xls') }}" ><i class="icon-download-alt icon-white"></i> Users Upload Template</a></p>

    {% for entity in entities %}
        {{ render(controller('FairBundle:Document:show', {
        'id': entity.id
        })) }}
    {% endfor %}

        <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('admin_docs_new') }}"><i class="icon-file icon-white"></i> Upload a new file</a>
        </li>
    </ul>
    {% endblock %}
