{% extends 'FairBundle::layout.html.twig' %}

{% block content -%}
    <h1>The following data has been loaded:</h1>
    {{ doc.name }}.{{ doc.type }}

    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            {% for item in reader.getFields() %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in reader %}
        <tr>
            {% for item in row %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}